<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 mt-5">
    <div class="card">

      <h2 class="title">Resend unlock instructions</h2>

      <div class="p-4">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>

          <div class="actions">
            <%= f.submit 'Resend unlock instructions', class: "btn btn-block btn-success" %>
          </div>
        <% end %>
      </div>

      <div class="card-footer text-center">
        <%= render 'devise/shared/links' %>
      </div>

    </div>
  </div>
</div>